
body {
  margin: 0;
  font-family: 'Rufina', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* utils */
.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.align-item-center {
  align-items: center;
}

/* home */
.home-hero {
  width: 100%;
}
.about-firm {
  padding: 10px;
  line-height: 2.0;
}

/* about style */
.bio-card h2 {
  font-family: 'Qwigley', cursive;
  font-size: 30px;
  margin-bottom: 0px;
  text-align: center;
}

.bio-img {
  width: 250px;
  height: 350px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 4px;
  float: left;
}

.bio-card {
  line-height: 1.8;
  width: 75%;
  margin: 5px auto;
}

/* header style */
header {
  margin-left: 20px;
  margin-right: 40px;
}

.logo {
  height: 10%;
  width: 12%;
}

.nav-list {
  list-style: none;
}

.navActive span {
  color:rgb(42, 107, 145);
}

.nav-bar a {
  padding: 15px;
  text-decoration: none;
  color: rgb(16, 58, 138);
  font-weight: bold;
}

/* project style */
.project-card {
  width: 35%;
  margin: 25px;
  text-align: center;
}

.project-card img {
  width: 100%;
  height: 250px;
}

.project-card:hover {
  opacity: 0.7;
}

.modal-project {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 130%;
  align-items: center;
  background-color: rgb(16, 58, 138);
  margin: 10px auto;
  overflow: auto;
}

.modal-container {
  margin: 5px auto;
}

.modal-container h3 {
  padding-top: 15px;
  text-align: center;
  color: whitesmoke;
}

.modal-container button {
  padding: 5px 12px;
  margin: 15px auto;
  border-radius: 3px;
  background-color: rgba(16, 134, 138, 0.7);
  color: whitesmoke;
  font-weight: bold;
  margin-left: 47%;
}

.modal-container button:hover {
  background-color: rgba(16, 134, 138, 0.7);
  cursor: pointer;
}

.project-image {
  width: 47%;
  height: 300px;
  margin: 8px;
}

/* services style */
.services {
  margin: 20px;
  
}
.services img {
  width: 70%;
  padding: 5px;
}

.img-container {
  width: 45%;
  align-items: flex-end;
}

.service-container {
  width: 45%;
  line-height: 1.5;
}

/* contact style */
form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 5px;
  width: 60%;
}

.form-input {
  border: 1px solid rgb(16, 58, 138);
  background-color: rgba(171, 222, 238, 0.3);
  font-size: 14px;
  color: var(--secondary);
  width:60%;
  border-radius: 3px;
  line-height: 1.2;
  margin: 3px;
  outline: none;
  font-family: 'Rufina', serif;
}

.form-input:hover {
  background-color: rgba(32, 116, 141, 0.2);
}

.btn {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(171, 222, 238, 0.3);
  color: rgb(16, 58, 138);
  font-weight: bold;
  margin: 5px;
  width: 20%;
}

.btn:hover {
  background-color: rgba(32, 116, 141, 0.2);
  cursor: pointer;
}

.contact-info {
  line-height: 1.4;
  margin: auto;
  width: 40%;
}

.contact-info h4 {
  margin-top: 25px;
  margin-bottom: 7px;
  text-decoration: underline;
}

.contact-info a {
  text-decoration: none;
}

.footer {
  margin-top: 20px;
  text-align: center;
  padding: 15px;
}

.footer img {
  width: 32px;
  height: 32px;
  padding: 10px;
}